<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h6 class="modal-title" id="myPersonLabel" jhiTranslate="kampusApp.person.home.createOrEditLabel">Create or edit a Person</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!person.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="person.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.person.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="person.firstName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.person.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="person.lastName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.person.pob" for="field_pob">Pob</label>
            <input type="text" class="form-control" name="pob" id="field_pob"
                [(ngModel)]="person.pob"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.person.bloodType" for="field_bloodType">Blood Type</label>
            <input type="text" class="form-control" name="bloodType" id="field_bloodType"
                [(ngModel)]="person.bloodType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.person.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                [(ngModel)]="person.gender"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.person.dob" for="field_dob">Dob</label>
            <div class="input-group">
                <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="person.dob"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
