
<div *ngIf="university">
    <h5><span jhiTranslate="kampusApp.university.detail.title">University</span> {{university.idPartyRole}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kampusApp.university.idInternal">Id Internal</span></dt>
        <dd>
            <span>{{university.idInternal}}</span>
        </dd>
        <dt><span jhiTranslate="kampusApp.university.name">Name</span></dt>
        <dd>
            <span>{{university.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'university/'+ university.idPartyRole + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
