<div style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <h5>
                <span jhiTranslate="kampusApp.studentPeriods.home.title">studentPeriods</span>
            </h5>
            <p-dataTable
                [value]="studentPeriods"
                [editable]="true"
                [rows]="itemsPerPage"
                [paginator]="true"
                [pageLinks]="5"
                [rowsPerPageOptions]="[10,15,20]"
                [totalRecords]="totalItems"
                [responsive]="true"
                [lazy]="true"
                [dataKey]="idStudentPeriod"
                (onLazyLoad)="loadDataLazy($event)"
                (onEditComplete)="updateRowData($event)">
                <p-header>
                    <jhi-alert></jhi-alert>
                    <div class="col-md-1 offset-md-11">
                        <button pButton type="button"
                            icon="fa-plus"
                            class="ui-button-primary btn-sm"
                            [routerLink]="['/', { outlets: { popup: ['student-periods-new'] } }]">
                        </button>
                    </div>
                    <div>
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                                      name="currentSearch" placeholder="{{ 'kampusApp.studentPeriods.home.search' | translate }}">
                                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)" *ngIf="currentSearch">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                    <span class="fa fa-trash-o"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </p-header>
                <p-column header="{{'kampusApp.studentPeriods.labelSequence'|translate}}" [style]="{'width': '70px', 'text-align': 'center'}">
                    <ng-template let-rowIndex="rowIndex" pTemplate="body">
                        {{rowIndex + 1}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.seqnum'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.seqnum}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.credit'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.credit}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.totalCredit'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.totalCredit}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.totalPoint'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.totalPoint}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.currentPoint'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.currentPoint}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.status'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.status}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.student'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <div *ngIf="rowData.studentId">
                            <a [routerLink]="['../student', rowData.studentId  ]" >{{rowData.studentName}}</a>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.semester'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <div *ngIf="rowData.semesterId">
                            <a [routerLink]="['../academic-periods', rowData.semesterId  ]" >{{rowData.semesterDescription}}</a>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.studentPeriods.labelAction'|translate}}" [style]="{'width': '150px', 'text-align': 'center'}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <button pButton type="submit"
                                [routerLink]="['../student-periods', rowData.idStudentPeriod]"
                                icon="fa-eye"
                                class="ui-button-info"
                                [style]="{'height':'50px'}">
                        </button>
                        <button pButton type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student-periods/'+ rowData.idStudentPeriod + '/edit'} }]"
                                replaceUrl="true"
                                icon="fa-pencil"
                                class="ui-button-primary">
                        </button>
                        <button pButton type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student-periods/'+ rowData.idStudentPeriod + '/delete'} }]"
                                replaceUrl="true"
                                icon="fa-remove"
                                class="ui-button-danger">
                        </button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>
<div style="margin-top: 10px;"></div>
