
<div *ngIf="faculty">
    <h5><span jhiTranslate="kampusApp.faculty.detail.title">Faculty</span> {{faculty.idPartyRole}}</h5>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kampusApp.faculty.idInternal">Id Internal</span></dt>
        <dd>
            <span>{{faculty.idInternal}}</span>
        </dd>
        <dt><span jhiTranslate="kampusApp.faculty.name">Name</span></dt>
        <dd>
            <span>{{faculty.name}}</span>
        </dd>
        <dt><span jhiTranslate="kampusApp.faculty.university">University</span></dt>
        <dd>
            <div *ngIf="faculty.universityId">
                <a [routerLink]="['/university', faculty.universityId]">{{faculty.universityName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'faculty/'+ faculty.idPartyRole + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
