<div style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <h5>
                <span jhiTranslate="kampusApp.contactMechanismPurpose.home.title">contactMechanismPurpose</span>
            </h5>
            <p-dataTable
                [value]="contactMechanismPurposes"
                [editable]="true"
                [rows]="itemsPerPage"
                [paginator]="true"
                [pageLinks]="5"
                [rowsPerPageOptions]="[10,15,20]"
                [totalRecords]="totalItems"
                [responsive]="true"
                [lazy]="true"
                [dataKey]="idContactMechPurpose"
                (onLazyLoad)="loadDataLazy($event)"
                (onEditComplete)="updateRowData($event)">
                <p-header>
                    <jhi-alert></jhi-alert>
                    <div class="col-md-1 offset-md-11">
                        <button pButton type="button"
                            icon="fa-plus"
                            class="ui-button-primary btn-sm"
                            [routerLink]="['/', { outlets: { popup: ['contact-mechanism-purpose-new'] } }]">
                        </button>
                    </div>
                </p-header>
                <p-column header="{{'kampusApp.contactMechanismPurpose.labelSequence'|translate}}" [style]="{'width': '70px', 'text-align': 'center'}">
                    <ng-template let-rowIndex="rowIndex" pTemplate="body">
                        {{rowIndex + 1}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.contactMechanismPurpose.dateFrom'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.dateFrom | date:'medium'}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.contactMechanismPurpose.dateThru'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        {{rowData.dateThru | date:'medium'}}
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.contactMechanismPurpose.purpose'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <div *ngIf="rowData.purposeId">
                            <a [routerLink]="['../purpose-type', rowData.purposeId  ]" >{{rowData.purposeDescription}}</a>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.contactMechanismPurpose.party'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <div *ngIf="rowData.partyId">
                            <a [routerLink]="['../party', rowData.partyId  ]" >{{rowData.partyName}}</a>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.contactMechanismPurpose.contact'|translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <div *ngIf="rowData.contactId">
                            <a [routerLink]="['../contact-mechanism', rowData.contactId  ]" >{{rowData.contactDescription}}</a>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="{{'kampusApp.contactMechanismPurpose.labelAction'|translate}}" [style]="{'width': '100px', 'text-align': 'center'}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <button pButton type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-mechanism-purpose/'+ rowData.idContactMechPurpose + '/edit'} }]"
                                replaceUrl="true"
                                icon="fa-pencil"
                                class="ui-button-primary">
                        </button>
                        <button pButton type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-mechanism-purpose/'+ rowData.idContactMechPurpose + '/delete'} }]"
                                replaceUrl="true"
                                icon="fa-remove"
                                class="ui-button-danger">
                        </button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>
<div style="margin-top: 10px;"></div>
