<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h6 class="modal-title" id="myRegularCourseLabel" jhiTranslate="kampusApp.regularCourse.home.createOrEditLabel">Create or edit a Regular Course</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!regularCourse.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="regularCourse.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.regularCourse.courseCode" for="field_courseCode">Course Code</label>
            <input type="text" class="form-control" name="courseCode" id="field_courseCode"
                [(ngModel)]="regularCourse.courseCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.regularCourse.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="regularCourse.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.regularCourse.credit" for="field_credit">Credit</label>
            <input type="number" class="form-control" name="credit" id="field_credit"
                [(ngModel)]="regularCourse.credit"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="kampusApp.regularCourse.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="regularCourse.ownerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="internalOption.idPartyRole" *ngFor="let internalOption of internals; trackBy: trackInternalById">{{internalOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
