<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h6 class="modal-title" id="myStudentLabel" jhiTranslate="kampusApp.student.home.createOrEditLabel">Create or edit a Student</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.student.nim" for="field_nim">Nim</label>
            <input type="text" class="form-control" name="nim" id="field_nim"
                [(ngModel)]="student.nim" required />
            <div [hidden]="!(editForm.controls.nim?.dirty && editForm.controls.nim?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nim?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.student.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="student.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.student.classof" for="field_classof">Classof</label>
            <input type="number" class="form-control" name="classof" id="field_classof"
                [(ngModel)]="student.classof"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.student.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                [(ngModel)]="student.status"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="kampusApp.student.prody" for="field_prody">Prody</label>
            <select class="form-control" id="field_prody" name="prody" [(ngModel)]="student.prodyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ProgramStudyOption.idPartyRole" *ngFor="let ProgramStudyOption of programstudies; trackBy: trackProgramStudyById">{{ProgramStudyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kampusApp.student.studyPath" for="field_studyPath">Study Path</label>
            <select class="form-control" id="field_studyPath" name="studyPath" [(ngModel)]="student.studyPathId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="StudyPathOption.idStudyPath" *ngFor="let StudyPathOption of studypaths; trackBy: trackStudyPathById">{{StudyPathOption.description}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
