<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h6 class="modal-title" id="myStudentPeriodDataLabel" jhiTranslate="kampusApp.studentPeriodData.home.createOrEditLabel">Create or edit a Student Period Data</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!studentPeriodData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="studentPeriodData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.studentPeriodData.seqnum" for="field_seqnum">Seqnum</label>
            <input type="number" class="form-control" name="seqnum" id="field_seqnum"
                [(ngModel)]="studentPeriodData.seqnum"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.studentPeriodData.credit" for="field_credit">Credit</label>
            <input type="number" class="form-control" name="credit" id="field_credit"
                [(ngModel)]="studentPeriodData.credit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.studentPeriodData.totalCredit" for="field_totalCredit">Total Credit</label>
            <input type="number" class="form-control" name="totalCredit" id="field_totalCredit"
                [(ngModel)]="studentPeriodData.totalCredit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.studentPeriodData.totalPoint" for="field_totalPoint">Total Point</label>
            <input type="number" class="form-control" name="totalPoint" id="field_totalPoint"
                [(ngModel)]="studentPeriodData.totalPoint"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kampusApp.studentPeriodData.currentPoint" for="field_currentPoint">Current Point</label>
            <input type="number" class="form-control" name="currentPoint" id="field_currentPoint"
                [(ngModel)]="studentPeriodData.currentPoint"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="kampusApp.studentPeriodData.period" for="field_period">Period</label>
            <select class="form-control" id="field_period" name="period" [(ngModel)]="studentPeriodData.periodId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="academicPeriodsOption.idPeriod" *ngFor="let academicPeriodsOption of academicperiods; trackBy: trackAcademicPeriodsById">{{academicPeriodsOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kampusApp.studentPeriodData.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="studentPeriodData.courseId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.idCourse" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kampusApp.studentPeriodData.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" [(ngModel)]="studentPeriodData.studentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="studentOption.idPartyRole" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
